.table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.th,
.td {
    text-align: left;
    padding: 8px;
}

.th {
    background-color: #a8ccee;
}

.tr:nth-child(even) {
    background-color: #f2f2f8;
}

.tr:nth-child(even):hover,
.tr:hover {
    background-color: #dfdff1;
}

.tr a {
    color: #0070f3;
    text-decoration: none;
}

.tr a:hover,
.tr a:focus,
.tr a:active {
    text-decoration: underline;
}

#active {
    color: #ad0000;
}

#standby {
    color: #007c2e;
}